<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Birds Seen</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
    <h1> Records of all Birds Seen</h1>

        <ul id="bird-list">
            <li th:each="birdSeen : ${birds}">
                    <span th:text="${birdSeen.speciesName}" />  was seen at
                    <span th:text="${birdSeen.locationSeen}" />  on
                    <span th:text="${birdSeen.dateSeen}" /> .

                    <button class="edit-button" type="submit"> <a th:href="'birds/' + ${birdSeen.id} + '/edit'">
                        Change/Update bird</a></button>
            </li>
        </ul>
    <button type="submit"> <a th:href="'birds/new/'">Add a new bird seen</a></button>
    <script src="/js/form.js"></script>
    </body>
</html>